.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.about-container h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
}

.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-container ul li {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px;
}
