/*-------------------------
Loader Elements
-------------------------*/
#preloader {
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    text-align: center;
    background: #F8F8FF;
    z-index: 9999999;
    transition: opacity 0.5s ease-out;
  }
  
  #preloader.hidden {
    opacity: 0;
    pointer-events: none; /* To ensure it's not interactive after hiding */
  }
  
  #preloader .loader {
    text-align: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 35rem;
    height: 30rem;
    margin: 0 auto;
    bottom: 40%;
  }
  
  #preloader .loader .wait {
    margin: 5rem 0;
    visibility: hidden;
  }
  
  #preloader .loader .plane {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 38%;
    left: 28%;
  }
  
  #preloader .loader .plane .plane-img {
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
  }
  
  @media (max-width: 575px) {
    #preloader .loader .plane .plane-img {
      width: 210px;
    }
    #preloader .loader .plane {
      width: 100%;
      top: 38%;
      left: 26%;
    }
  }
  
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #preloader .loader .earth-wrapper {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding-top: 2.7rem;
  }
  
  #preloader .loader .earth-wrapper .earth {
    width: 160px;
    height: 160px;
    background: url("https://zupimages.net/up/19/34/6vlb.gif");
    border-radius: 100%;
    background-size: 340px;
    animation: earthAnim 12s infinite linear;
    margin: 0 auto;
    border: 1px solid #CDD1D3;
  }
  
  @media (max-width: 575px) {
    #preloader .loader .earth-wrapper .earth {
      width: 120px;
      height: 120px;
    }
  }

  @media ((max-width: 400px) and  (min-width : 375px) ){
    #preloader .loader .plane .plane-img {
      width: 200px;
    }
    #preloader .loader .plane {
      width: 90%;
      top: 38.5%;
      left: 23.5%;
    }
  }


  @media (max-width: 420px) {
    #preloader .loader .plane .plane-img {
      width: 200px;
    }
    #preloader .loader .plane {
      width: 90%;
      top: 38.5%;
      left: 23.5%;
    }
  }
  @media ((max-width: 415px) and  (min-width : 400px) ){
    #preloader .loader .plane .plane-img {
      width: 200px;
    }
    #preloader .loader .plane {
      width: 90%;
      top: 38.5%;
      left: 26%;
    }
  }
  
  @keyframes earthAnim {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -340px;
    }
  }
  
  /*-------------------------
  Content Elements
  -------------------------*/
  .loading .content_ {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .loaded .content_ {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
