.signin-container {
  width: 350px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.signin-container form {
  display: flex;
  flex-direction: column;
}

.signin-container form div {
  margin-bottom: 10px;
}

.signin-container form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
}

.signin-container form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signin-container form button:hover {
  background-color: #0056b3;
}
